@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* 일기 목록 */

.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2 {
  text-align: center;
}

/* 일기 요소 */

.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: gray;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Home */
.Home {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.Home h2 {
  font-family: "Bagel Fat One";
}

/* HomeLogin */
.HomeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeLogin input {
  margin-top: 5px;
  width: 200px;
  height: 20px;
}

.HomeLogin button {
  width: 100px;
}

.HomeLogin .btn-area {
  width: 218px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* HomeMenu */
.HomeMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeMenu a {
  margin-top: 20px;
  text-decoration: none;
}

.HomeMenu button {
  margin-top: 20px;
}

/* Join */
.Join {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Join input {
  margin-top: 5px;
  width: 200px;
  height: 20px;
}

.Join .btn-area {
  width: 218px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
